/* Header */
.header {
    border-bottom: 1px solid var(--clr-border);
}

/* Navbar */
.navbar {
    padding: 14px;
}

.logo {
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--clr-white);
}

.navlinks {
    gap: 32px;
}

.navlinks a {
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr-white);
}

.navBtn {
    gap: 4px;
}

.mobile-menu {
    display: none;
}

/* Hero section */
.hero {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 25% center;
}

.hero-wrapper {
    text-align: center;
    padding: 100px 0;
    max-width: 550px;
    margin: 0 auto;
    gap: 40px;
}

.hero h1 {
    font-weight: 800;
    font-size: 3.75rem;
    color: var(--clr-white);
    margin-bottom: 8px;
}

.image-container {
    width: 350px;
    height: 350px;
    display: inline-block;
    position: relative;
}

.hero-circle {
    width: 100%;
    height: 100%;
    display: block;
}

.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
}

.new-btn {
    padding: 8px 16px;
    background-color: var(--clr-green);
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--clr-black);
    border: none;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-60%, 20%);
}

.buttons {
    margin-top: 24px;
    gap: 8px;
}

.hero-btn {
    gap: 8px;
    font-weight: 500;
}

.hero-btn img {
    width: 20px;

}

.btn2 {
    background: none;
    border: 1px solid var(--clr-green);
    color: var(--clr-green);
    gap: 8px;
    font-weight: 500;
}

/* About Section */
.about {
    padding: 50px 0 120px;
    text-align: center;
}

.about-content {
    border-bottom: 1px solid #ffffff1a;
}

.about-content p {
    max-width: 80%;
    margin: 0 auto;
    line-height: 25px;
    margin-top: 16px;
    padding-bottom: 80px;
}

.about-stats {
    padding: 80px 12px 0;
    gap: 24px;
}

.about-stats h3 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--clr-green);
    margin-bottom: 16px;
}

.about-stats p {
    text-transform: uppercase;
}

/* Why choose section */
.why-choose {
    background-color: var(--clr-bg-section);
    padding: 120px 12px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 30px;
    margin-top: 40px;
}

.card {
    border-radius: 40px;
    padding: 40px;
    background-color: var(--clr-card-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card img {
    width: 60px;
}

.card h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--clr-white);
    margin: 16px 0;
}

.audio {
    grid-row: 1/3;
}

.mobile,
.global {
    grid-column: 2/4;
}

.interview {
    grid-column: 1 / 3;
}

.resources {
    grid-column: 3 / 4;
}

/* Featured section */
.featured {
    padding: 120px 12px;
}

.featured-cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.featured-cards h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--clr-white);
}

.featured-content {
    padding: 24px;
    background-color: var(--clr-card-bg);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.featured-text {
    margin: 16px 0;
}

.time {
    gap: 8px;
}

.time img {
    width: 20px;
}

.time p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-green);
}

/* Host section */
.host{
    padding-bottom: 120px;
}
.host-content{
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
    background-color: var(--clr-card-bg);
    margin-top: 40px;
}
.host-img{
    width: 400px;
}
.host h3{
    font-weight: 700;
    font-size: 2rem;
    color: var(--clr-white);
}
.host-text{
    margin: 16px 0;
}
.social{
    gap: 8px;
}
.social div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--clr-border);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.social img{
    width: 15px;
}